{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="{% static 'css/task_form_update.css' %}">
</head>

<body>
    <div class="login-card">
        <h2>Update Todo</h2>
        <form id="loginForm" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="title" placeholder="Title" autocomplete="off" value="{{ object.title }}"
                    required>
            </div>
            <div class="input_comp">
                <label for="">Complated</label>
                {% if object.completed %}
                <input type="checkbox" class="todo-checkbox" name="completed" checked>
                {% else %}
                <input type="checkbox" class="todo-checkbox" name="completed">
                {% endif %}
            </div>
            <button type="submit">Add</button>
            <div class="message" id="formMessage"></div>
        </form>
    </div>
</body>

</html>