{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="{% static 'css/task_form_create.css' %}">
</head>

<body>
    <div class="login-card">
        <h2>Delete Todo</h2>
        <form id="loginForm" method="post">
            {% csrf_token %}
            <h4>Do you want to delet this task ? </h4>
            <button type="submit">Add</button>
        </form>
    </div>
</body>

</html>